[submodule "pico_lib"]
	path = pico_lib
	url = https://github.com/PicoPlus-devel/pico_lib.git
[submodule "tusb_xinput"]
	path = tusb_xinput
	url = https://github.com/PicoPlus-devel/tusb_xinput.git
[submodule "pico_shared_and"]
	path = pico_shared_and
	url = https://github.com/moandrey/pico_shared_and.git
